# Supabase - obtenha em https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://fhnlcaxucnhxgkihdwcy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_m1HqN19h2viw3s71WXt5bw_bmQ7c17E

# URL da aplicação (para recuperação de senha)
NEXT_PUBLIC_APP_URL=http://localhost:3000
